<div id="container" style="width:500px;font-family:微软雅黑;">

<div id="header" style="background-color:#8EE5EE;">
<h1 style="margin-bottom:0;">完美世界</h1></div>

<div id="menu" style="background-color:#7AC5CD;height:200px;width:100px;float:left;">
<b>人物</b><br>
不朽之王<br>
大主宰<br>
荒天帝</div>

<div id="content" style="background-color:#98F5FF;height:200px;width:400px;float:left;">
什么人，渡过时间长河而来？直接压的安澜的拉车凶兽都跪伏在地？！</div>

<div id="footer" style="background-color:#53868B;clear:both;text-align:center;">
版权 © rsgz.top</div>

</div>