<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户列表</title>
</head>
<body>
    <h1>用户列表</h1>
    <table border='1'>
    <thead>
    <tr>
        <th>ID</th>
        <th>头像</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>更多信息</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>00001</td>
        <td>
            <img src="/static/001.png" alt='用户头像' style='height:50px; width:50px' />
        </td>
        <td>林动</td>
        <td>xxx@qq.com</td>
        <td>
            <a href="">点击查看详情</a>
        </td>
        <td>编辑/删除</td>
    </tr>



    </tbody>
    </table>
</body>
</html>